# Node / Next.js
node_modules/
.next/
dist/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Switch App Build Outputs
*.elf
*.nro
*.nso
*.nacp
switch-app/build/
switch-app/AppSwitch.elf
switch-app/AppSwitch.nro

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
*.swp
*.tmp

# Dev scripts
# Descomente se quiser ignorar o script localmente, mas geralmente ele fica no git
# push-to-develop.sh
