# Dependências
node_modules/
.next/
dist/
build/

# Ambiente e Segredos
.env
.env.local
.env.production
.DS_Store

# Switch App (arquivos temporários)
switch-app/AppSwitch.elf
switch-app/AppSwitch.nro
switch-app/build/
